<%= render "shared/navbar" %>
<div style="width: 100%; height: 100vh; position: absolute; top: 0;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-departure-value="<%= image_path "departure_pin.svg" %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

</div>

<div class="container d-flex justify-content-center">
  <%= simple_form_for @itinerary do |f| %>
    <div class="itinerary-search-fields" id="champ" data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-address-autocomplete-place-holder-value="D'où partons-nous?">
      <%= f.input :departure, input_html: { data: {address_autocomplete_target: "address"}, class: "d-none" } %>
    </div>

    <div class="itinerary-search-fields new-itinerary-arrival" data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-address-autocomplete-place-holder-value="Où allons-nous?">
      <%= f.input :arrival, input_html: { data: {address_autocomplete_target: "address"}, class: "d-none" } %>
    </div>

    <%= f.submit "Allons-y !", class:"w-100 mt-3 btn btn-primary" %>
  <% end %>
</div>
