<h4>Itinéraire <%= @itinerary.departure %> -> <%= @itinerary.arrival %></h4>

<ul>
  <% @itinerary.routes.each do |route| %>
    <li><%= route.distance.fdiv(1000).round(2) %>km / <%= route.duration.fdiv(60).round %> minutes</li>
  <% end %>
</ul>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
