<div data-controller="hello">
  <div class="maps" data-hello-target="maps">
    <% @itinerary.routes.each_with_index do |route, index| %>
      <div
        id=<%= index %>
        class="map"
        data-controller="map"
        data-hello-target="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-routes-value="<%= [route.sections].to_json %>"
        data-map-bounds-value="<%= @itinerary.bounds.to_json %>">
      </div>
    <% end %>
  </div>
  <div class="itinerary-wrapper">
  <p>Itinéraire <%= @itinerary.departure %> -> <%= @itinerary.arrival %></p>
    <div class="itineraries">
      <% @itinerary.routes.each_with_index do |route, index| %>
        <div id=<%= index %> class="itinerary" data-action="click->hello#displayItinerary"><%= route.distance.fdiv(1000).round(2) %>km / <%= route.duration.fdiv(60).round %> minutes</div>
      <% end %>
    </div>
  </div>
</div>
