<%= render "shared/navbar" %>
<div data-controller="hello">
  <div class="maps" data-hello-target="maps">
    <% @itinerary.routes.each_with_index do |route, index| %>
      <div
        id=<%= index %>
        class="map"
        data-controller="map"
        data-hello-target="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-routes-value="<%= [route.sections].to_json %>"
        data-map-bounds-value="<%= @itinerary.bounds.to_json %>">
      </div>
    <% end %>
  </div>
  <div>
    <div class="itinerary-wrapper">
      <div class="itinerary-resume">
        <span class="p--tiny itinerary-infos">
          <%= image_tag 'pin_start'%>
          <%= @itinerary.departure %>
        </span>
        <span class="p--tiny itinerary-infos">
          <%= image_tag 'pin_arrival' %>
          <%= @itinerary.arrival %>
        </span>
      </div>
      <div class="itineraries">
        <% @itinerary.routes.each_with_index do |route, index| %>
        <div class="itinerary-card mt-3">
          <div class="itinerary-head">
            <p class = "label m-0">le plus court</p>
            <%= link_to "Démarrer ce trajet", route_path(route) %>
          </div>
          <div id=<%= index %> class="itinerary" data-action="click->hello#displayItinerary">
            <span>
              <%= image_tag 'bottom_distance' %>
              <%= route.distance.fdiv(1000).round(2) %>km
            </span>
            <span>
              <%= image_tag 'bottom_clock' %>
              <%= route.duration.fdiv(60).round %> min.
            </span>
            <span>

              <%= route.weight.fdiv(1).round %> veloo</div>
            </span>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
