<div class="background">
  <div class="py-4 container text-center">
   <div class="logo_velo_yellow">
    <%= image_tag "veloo_yellow.png" %>
   </div>
    <div class="title">
      <h1 class="my-3">Mon compte</h1>
    </div>
    <%= simple_form_for @user, url: profiles_path, method: "put" do |f| %>
      <div class="form-inputs text-start">
        <div class="email">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: " Adresse email" } %>
        </div>
        <div class="password">
          <%= f.input :password,label: "Mot de passe",
                      required: false,
                      input_html: { autocomplete: "Mot de passe" } %>
        </div>
        <div class="deficience">
          <%= f.input :visual_impairment, label: "Déficience visuelle",
                      collection: ["Aucune déficience","Daltonisme"],
                      selected: 1,
                      required: false
                      %>
        </div>
        <div>
            <%= f.input :average_speed, label: "Vitesse moyenne" %>
            <%= f.input :photo, as: :file, label: "Photo" %>
        </div>


        <div class="skills_chekbox text-start">
          <%= f.input :skills,label: "Expérience",
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: User::SKILLS %>
        </div>

      </div>
      <div class="form-actions">
        <%= f.button :submit, "Enregistrer", class:'btn btn-primary mt-4' %>
      </div>
    <% end %>
  </div>
</div>
