<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'veloo_yellow.svg', :class => "pb-5" %>
      <%= image_tag 'home1.svg', :class => "pb-3"  %>
      <h1>Un GPS pour les cyclistes</h1>
      <p>Prenant en compte la qualité d'une voie aménagée pour faciliter et sécuriser les déplacements à vélo</p>
      <%= link_to "Créer un compte", new_user_registration_path, :class => "btn_home btn btn-primary"  %>
      <br>
      <%= link_to "Se connecter", new_user_session_path, :class => ""  %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'veloo_blue.svg', :class => "pb-5" %>
      <%= image_tag 'home2.svg', :class => "pb-3"   %>
      <h1>Signalez les dangers</h1>
      <p>Pendant vos trajets quotidien, signalez aux autres usagers les obstacles et aléas rencontrés </p>
      <%= link_to "Créer un compte", new_user_registration_path, :class => "btn_home btn btn-primary"  %>
      <br>
      <%= link_to "Se connecter", new_user_session_path, :class => ""  %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'veloo_green.svg', :class => "pb-5" %>
      <%= image_tag 'home3.svg', :class => "pb-3"   %>
      <h1>Participatif et open-source</h1>
      <p>Les données récoltées permettent aux collectivitées de mieux planifier les aménagements et ainsi améliorer la cyclabilité</p>
      <%= link_to "Créer un compte", new_user_registration_path, :class => "btn_home btn btn-primary"  %>
      <br>
      <%= link_to "Se connecter", new_user_session_path, :class => ""  %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
