<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-interval="50000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'veloo_yellow.svg', :class => "home_logo pb-5" %>
      <%= image_tag 'home1.svg', :class => "carousel-home-image pb-3"  %>
      <h1>Un GPS pour les cyclistes</h1>
      <p>Prenant en compte la qualité d'une voie aménagée pour faciliter et sécuriser les déplacements à vélo</p>
      <%= link_to "Créer un compte", new_user_registration_path, :class => "btn_home btn btn-primary"  %>
      <br>
      <%= link_to "Se connecter", new_user_session_path, :class => "btn_home_secondary"  %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'veloo_blue.svg', :class => "home_logo pb-5" %>
      <%= image_tag 'home2.svg', :class => "carousel-home-image pb-3"   %>
      <h1>Signalez les dangers</h1>
      <p>Pendant vos trajets quotidien, signalez aux autres usagers les obstacles et aléas rencontrés </p>
      <%= link_to "Créer un compte", new_user_registration_path, :class => "btn_home btn btn-primary"  %>
      <br>
      <%= link_to "Se connecter", new_user_session_path, :class => "btn_home_secondary"  %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'veloo_green.svg', :class => "home_logo pb-5" %>
      <%= image_tag 'home3.svg', :class => "carousel-home-image pb-3"   %>
      <h1>Participatif <br>et open-source</h1>
      <p>Les données récoltées permettent aux collectivitées de mieux planifier les aménagements et ainsi améliorer la cyclabilité</p>
      <%= link_to "Créer un compte", new_user_registration_path, :class => "btn_home btn btn-primary"  %>
      <br>
      <%= link_to "Se connecter", new_user_session_path, :class => "btn_home_secondary"  %>
    </div>
  </div>
</div>
