<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= form_with url: root_path, method: :get do |f| %>
  <%= f.label :depart %>
  <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <%= f.text_field :depart, data: {address_autocomplete_target: "address"}, class: "d-none" %>
  </div>
  <br>
  <br>
  <%= f.label :arrival %>
  <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <%= f.text_field :arrival, data: {address_autocomplete_target: "address"}, class: "d-none" %>
  </div>

  <%= f.submit %>
<% end %>

<div>
  <% @routes.first["routes"].sort_by { |route| -route["weight"] }.each do |route| %>
    <ul>
      <li>Duration : <%= route["duration"] %> </li>
      <li>Distance : <%= route["distance"] %> </li>
      <li>
        <ul>
          Sections :
          <% route["legs"].first["steps"].each do |step| %>
            <li>
              <%= step %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  <% end %>
</div>
