<div class="background">
  <div class="py-4 container text-center">
   <div class="logo_velo_yellow">
    <%= image_tag "veloo_yellow.png" %>
   </div>
    <div class="title">
      <h1 class="my-3">Connexion</h1>
      <p class="p--tiny">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel placeat
    quam cum excepturi aut aliquid tempora impedit cupiditate.</p>
    </div>
    <div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
        <div class="form-inputs text-start">
          <div class="email">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: " Adresse email" } %>
          </div>
          <div class="password">
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "Mot de passe" } %>
          </div>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions mb-4">
          <%= f.button :submit, "Connexion", class:'btn btn-primary' %>
        </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
