<div class="background">
  <div class="py-4 container text-center">
   <div class="logo_velo_yellow">
    <%= image_tag "veloo_yellow.png" %>
   </div>
    <div class="title">
      <h1 class="my-3">Créer mon compte</h1>
      <p class="p--tiny">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel placeat
    quam cum excepturi aut aliquid tempora impedit cupiditate.</p>
    </div>
    <div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
        <div class="form-inputs text-start">
          <div class="email">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: " Adresse email" } %>
          </div>
          <div class="password">
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "Mot de passe" } %>
          </div>
          <div class="deficience">
            <%= f.input :visual_impairment,
                        collection: ["Aucune déficience","Daltonisme"],
                        required: false
                        %>
          </div>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="skills_chekbox">
          <%= f.input :skills,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: Snippet::SKILLS %>

        </div>
      <div class="form-actions mb-4">
        <%= f.button :submit, "Je créee mon compte", class:'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
